Problem:
how-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]]
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Problem 2
Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [14]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.245953
2015-01-02    0.112746
2015-01-05    0.123593
2015-01-06    0.077034
2015-01-07    0.407658
2015-01-08    0.082305
2015-01-09    0.501291
2015-01-12    0.067239
2015-01-13    0.767299
2015-01-14    0.969813
2015-01-15    0.117939
2015-01-16    0.786356
2015-01-19    0.110470
2015-01-20    0.745291
2015-01-21    0.512773
2015-01-22    0.574195
2015-01-23    0.870752
2015-01-26    0.810885
2015-01-27    0.683160
2015-01-28    0.577340
2015-01-29    0.328969
2015-01-30    0.096453
2015-02-02    0.994234
2015-02-03    0.784300
2015-02-04    0.660228
2015-02-05    0.335688
2015-02-06    0.769965
2015-02-09    0.284546
2015-02-10    0.083439
2015-02-11    0.457625
                ...
2015-11-20    0.457822
2015-11-23    0.903463
2015-11-24    0.131336
2015-11-25    0.689708
2015-11-26    0.121697
2015-11-27    0.983339
2015-11-30    0.669377
2015-12-01    0.658912
2015-12-02    0.825258
2015-12-03    0.048855
2015-12-04    0.471601
2015-12-07    0.359822
2015-12-08    0.251409
2015-12-09    0.365058
2015-12-10    0.762858
2015-12-11    0.351052
2015-12-14    0.855885
2015-12-15    0.123035
2015-12-16    0.279658
2015-12-17    0.058592
2015-12-18    0.478679
2015-12-21    0.570463
2015-12-22    0.130641
2015-12-23    0.128611
2015-12-24    0.128779
2015-12-25    0.280972
2015-12-28    0.387562
2015-12-29    0.919566
2015-12-30    0.913437
2015-12-31    0.659373
Freq: B, Length: 261, dtype: float64

Question 3
Find the sum of the values in s for every Wednesday

In [11]:
s[s.index.weekday == 2].sum()

22.820567801499053

Question 4
Average For each calendar month

In [12]:
s.resample('M').mean()

2015-01-31    0.502639
2015-02-28    0.480520
2015-03-31    0.459119
2015-04-30    0.519449
2015-05-31    0.486888
2015-06-30    0.482675
2015-07-31    0.441389
2015-08-31    0.381754
2015-09-30    0.447324
2015-10-31    0.410293
2015-11-30    0.548975
2015-12-31    0.571908
Freq: M, dtype: float64

question 5
For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [13]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-27
2015-05-31   2015-03-06
2015-09-30   2015-09-25
2016-01-31   2015-12-17
dtype: datetime64[ns]